#b9{
  background-image: url('../images/desktop/SECCION-8.png');
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: calc(100vw + 15px);
  z-index: 1;
}

#image9{
  width: 40%;
}

#text9{
  color: white;
  text-align: center;
  position: absolute;
  top: 80px;
  font-size: 60px;
}

#foot{
  background-image: url('../images/foote.png');
  background-repeat: no-repeat;
  height: 45vh;
}

#imageFoot{
  width: 3%;
}

#redes{
  top: 150px;
  position: relative;
  left: 50%;
}
