.navbar {
  background-color: white !important;
  min-height: 80px !important;
}

.navbar-brand{
  color: red !important;
}

.navbar-link{
  color: #1565c0 !important;
  font-size: 20px;
}

.navbar-link:hover{
  color: black !important;
  font-size: 24px;
}
