.navbar {
  background-color: white !important;
  min-height: 80px !important;
}

.navbar-brand{
  color: red !important;
}

.navbar-link{
  color: #002171 !important;
  font-size: 25px;
}

.navbar-link:hover{
  color: white !important;
  font-size: 26px;
  background-color: #e53935 !important;
  border-radius: 25px 57px 38px;
}
